/* ============================================================================
   @Helpers -> Variables
   ========================================================================= */
	
	// Colors
	$gray: #CCCCCC;
	$purple: #6a1be2; 

	// Grid
	$gridColumns: 12;

/* @helpers -> variables */