/* ============================================================================
   @Base -> Base
   ========================================================================= */

	body{
		font-size: 16px;
	}
	
	a{
		color: $gray;
		text-decoration: none;
	}

/* @base -> base */